# Коллега прислал вам следующие данные:

ga:date – дата
ga:clientid – идентификатор пользователя (из основной системы аналитики)
userID – идентификатор пользователя (из другой системы)
ga:transaction_id – id транзакции
ga:revenue – доход
ga:user – колонка с единственной ячейкой, в ней хранится число уникальных пользователей

In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/423116/august_data.csv')

In [16]:
df.head()

,ga:date,ga:clientid,userID,ga:transaction_id,ga:revenue,Unnamed: 5,ga:user
0,28-08-2019 12:29:24,2.802509e+08,"7,186,054",383919,28103,NaN,141000.0
1,28-08-2019 12:27:12,8.196637e+08,"7,186,010",97225,177697,NaN,NaN
2,28-08-2019 11:43:24,1.751156e+09,"7,184,859",385087,64892,NaN,NaN
3,28-08-2019 11:40:50,5.515333e+08,"7,186,029",385392,38816,NaN,NaN
4,28-08-2019 11:25:31,4.527935e+08,"7,183,548",385871,3112,NaN,NaN

In [17]:
df.dtypes

ga:date               object
ga:clientid          float64
userID                object
ga:transaction_id     object
ga:revenue             int64
Unnamed: 5           float64
ga:user              float64
dtype: object

# Сколько всего имеется уникальных пользователей?

In [18]:
uniq_users = df['ga:user '].max()

uniq_users

141000.0

In [19]:
df = df.drop(df.columns[[5, 6]], axis=1)

df = df.rename(columns={'ga:date': 'date',
                        'ga:clientid': 'client_id',
                        'userID': 'user_id',
                        'ga:transaction_id': 'transaction_id',
                        'ga:revenue': 'revenue'})
df['client_id'] = df['client_id'].astype(np.int64)
df['date'] =  pd.to_datetime(df['date'], format='%d-%m-%Y %H:%M:%S')
df['user_id'] = df['user_id'].str.replace(',', '')

In [20]:
df.head()

                 date   client_id  user_id transaction_id  revenue
0 2019-08-28 12:29:24   280250934  7186054         383919    28103
1 2019-08-28 12:27:12   819663670  7186010          97225   177697
2 2019-08-28 11:43:24  1751155506  7184859         385087    64892
3 2019-08-28 11:40:50   551533314  7186029         385392    38816
4 2019-08-28 11:25:31   452793508  7183548         385871     3112

# Сколько всего имеется клиентов?

In [22]:
number_of_clients = df.query('revenue != 0') \
                        .client_id \
                        .nunique()

number_of_clients

685

# Какая конверсия?

In [25]:
conversion_percent = round((number_of_clients / uniq_users) * 100, 2)

conversion_percent

0.49

# Сколько рублей составляет средний чек?

In [27]:
average_check = round(df['revenue'].sum() / df.query('revenue != 0')['transaction_id'].count())

average_check

34458.0

# Сколько повторных закупок? (среднее количество покупок на пользователя)

In [29]:
average_amount_by_client = round(df.query('revenue != 0')['transaction_id'].count() / number_of_clients, 2)

average_amount_by_client

1.36

# Чему равен средний доход на платящего пользователя (ARPPU)?

In [31]:
ARPPU = round(df['revenue'].sum() / number_of_clients)

ARPPU

46883.0

# Посчитайте средний доход с пользователя (ARPU)

In [34]:
ARPU = round((number_of_clients / uniq_users) * (df['revenue'].sum() / number_of_clients))

ARPU

228.0

In [37]:
ARPU_v2 = round(df['revenue'].sum() / uniq_users)

ARPU_v2

228.0